[submodule "hc-recruit-admin"]
	path = hc-recruit-admin
	url = https://github.com/haochtech/hc-recruit-admin.git
[submodule "hc-recruit-wx"]
	path = hc-recruit-wx
	url = https://github.com/haochtech/hc-recruit-wx.git
